version: '3.6'

#services describe the containers that will start
services:
  db:
    container_name: postgres
    image: "postgres:16"
    ports:
      - "5433:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=local
      - POSTGRES_PASSWORD=local
      - POSTGRES_DB=storex
networks:
  api.network:
